@charset "UTF-8";
.inner {
  max-width: 1100px;
  margin: 0 auto;
}

section {
  padding-top: 50px;
}

.section-title {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}

/*ヘッダー*/
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-logo {
  padding: 15px 0px;
  color: #777;
}
header .contact {
  color: #333;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}
header .contact:hover {
  color: #333;
  transition: all 0.3s;
}
header .contact a {
  text-decoration: none;
  color: #fff;
}
header .contact a:hover {
  color: #333;
  transition: all 0.3s;
}

main {
  padding-top: 78px;
  /*キービジュアル*/
  /*ワークスセクション*/
  /*スキルズセクション*/
  /*プランセクション*/
  /*SNSセクション*/
}
main section.keyvisual {
  padding-top: 0px;
}
main .keyvisual-inner {
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 400px 0px;
  width: 100%;
}
main .keyvisual-inner h1 {
  margin-bottom: 30px;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}
main .keyvisual-inner h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
main .work {
  background-color: #e3f2fd;
  padding-top: 50px;
}
main .work .work-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .work .work-inner .work-left {
  flex-basis: 40%;
  text-align: center;
}
main .work .work-inner .work-left img {
  width: 250px;
}
main .work .work-inner .work-right {
  flex-basis: 60%;
  text-align: center;
}
main .work .work-inner .work-right .work-title {
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
main .work .work-inner .work-right .work-text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin-top: 35px;
}
main section.skills {
  padding-bottom: 70px;
}
main .skills-contener {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
main .skills-contener .skills img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: all 0.7s;
}
main .skills-contener .skills img:hover {
  opacity: 1;
}
main .skills-contener .skills:not(:nth-child(3n)) {
  margin-right: 100px;
}
main .skills-contener .skills:nth-child(n+4) {
  margin-top: 100px;
}
main section.plan {
  padding-bottom: 50px;
  background-color: #d0dfea;
}
main section.plan .table {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
main section.plan .table table {
  width: 100%;
}
main section.plan .table table th, main section.plan .table table td {
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
main section.plan .table table th:nth-child(n+2), main section.plan .table table td {
  border-left: 2px solid #fff;
}
main section.plan .table table th {
  font-weight: bold;
}
main section.plan .table table tr:nth-last-child(odd) {
  background-color: #fff;
}
main section.plan .table table tr:nth-last-child(even) {
  background-color: #e0efff;
}
main section.plan .table table tr:first-child {
  background-color: #6ba7eb;
}
main .sns-nav {
  background-color: #e3f2fd;
  padding-top: 200px;
  padding-bottom: 200px;
}
main .sns-nav .sns-icons {
  display: flex;
  justify-content: center;
}
main .sns-nav .sns-icons .icons {
  width: 185px;
  color: #8c8c8c;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}
main .sns-nav .sns-icons .icons:hover {
  background-color: #fff;
}
main .sns-nav .sns-icons .icons a {
  color: #8c8c8c;
  text-decoration: none;
}

/*フッター*/
footer {
  background-color: #cfd8dc;
}
footer .footer-inner {
  display: flex;
  justify-content: right;
}
footer .footer-inner .copy {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin-right: 100px;
}

.openbtn1 {
  display: none;
}

/*ハンバーガーメニュー*/
.openbtn1 {
  position: relative;
  background: #fff;
  cursor: pointer;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #bcbcbc;
}
.openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 11px;
  height: 3px;
  border-radius: 2px;
  background: #bcbcbc;
  width: 58%;
}
.openbtn1 span:nth-of-type(1) {
  top: 10px;
}
.openbtn1 span:nth-of-type(2) {
  top: 19px;
}
.openbtn1 span:nth-of-type(3) {
  top: 29px;
}
.openbtn1 .active span:nth-of-type(1) {
  top: 14px;
  left: 9px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}
.openbtn1 .active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn1 .active span:nth-of-type(3) {
  top: 26px;
  left: 10px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
  /*ヘッダー*/
  .header-nav {
    justify-content: space-between;
    margin: 0 20px;
  }
  /*キービジュアル*/
  section.keyvisual .keyvisual-inner {
    background-size: cover;
    padding: 250px 0px;
  }
  /*ワークスセクション*/
  section.work {
    padding-bottom: 50px;
  }
  section.work .work-inner {
    display: block;
  }
  section.work .work-inner .work-right {
    margin: 0 15px;
  }
  section.work .work-inner .work-right .work-title {
    width: 100%;
  }
  section.work .work-inner .work-right .work-text {
    width: 100%;
  }
  /*スキルズセクション*/
  main .skills-contener {
    display: block;
    flex-wrap: nowrap;
  }
  main .skills-contener .skills {
    text-align: center;
    /*pc版の打消し*/
    /*pc版の打消し*/
  }
  main .skills-contener .skills:nth-child(n+4) {
    margin-top: 0px;
  }
  main .skills-contener .skills:not(:nth-child(3n)) {
    margin-right: 0px;
  }
  main .skills-contener .skills:nth-child(3n+4) {
    margin-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }
  /*ヘッダー*/
  .header-nav {
    display: block;
    overflow: hidden;
    margin: 0 10px;
  }
  .header-nav .contact {
    display: none;
  }
  .header-nav .openbtn1 {
    display: block;
    float: right;
    line-height: 78px;
    margin-top: 0px;
    margin-right: 10px;
  }
  /*キービジュアル*/
  section.keyvisual .keyvisual-inner {
    background-size: cover;
    padding: 200px 0px;
  }
  section.keyvisual .keyvisual-inner h1 {
    font-size: 40px;
  }
  section.keyvisual .keyvisual-inner h2 {
    font-size: 30px;
  }
  /*ワークスセクション*/
  section.work {
    padding-bottom: 60px;
  }
  section.work .work-inner {
    display: block;
  }
  section.work .work-inner .work-right {
    margin: 0 15px;
  }
  section.work .work-inner .work-right .work-title {
    width: 100%;
  }
  section.work .work-inner .work-right .work-text {
    width: 100%;
  }
  /*スキルズセクション*/
  main .skills-contener {
    display: block;
    flex-wrap: nowrap;
  }
  main .skills-contener .skills {
    text-align: center;
    /*pc版の打消し*/
    /*pc版の打消し*/
  }
  main .skills-contener .skills:nth-child(n+4) {
    margin-top: 0px;
  }
  main .skills-contener .skills:not(:nth-child(3n)) {
    margin-right: 0px;
  }
  main .skills-contener .skills:nth-child(3n+4) {
    margin-top: 70px;
  }
  /*プランセクション*/
  main section.plan div.inner {
    width: 100%;
  }
  main section.plan .table table th {
    font-size: 14px;
    line-height: 22px;
  }
  main section.plan .table table td {
    font-size: 12px;
  }
  /*SNSセクション*/
  .sns-nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sns-nav .sns-inner {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sns-nav .sns-inner .sns-icons {
    display: block;
    margin: 0 15px;
  }
  .sns-nav .sns-inner .sns-icons .icons {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /*フッター*/
  .copy {
    margin-right: 10px;
  }
}/*# sourceMappingURL=style.css.map */